Repository danieleschmidt/Tiny-VLM-Rust-WASM: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --all-features
  language: system
  pass_filenames: false

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false

Update README.md
  README.md
Due: none

feat: autonomous SDLC implementation - complete production-ready VLM system
  Cargo.toml
  src/data/cache.rs
  src/data/dataset.rs
  src/data/loader.rs
  src/error.rs
  src/health.rs
  src/lib.rs
  src/logging.rs
  src/models.rs
  src/optimization.rs
  src/simd.rs
  src/text.rs
  src/validation.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

fix: resolve all 5 failing unit tests for production readiness
  src/data/dataset.rs
  src/data/loader.rs
  src/health.rs
  src/memory.rs
  src/text.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(simd): add advanced SIMD optimizations for ARM NEON, x86 AVX2, and WASM
  Cargo.toml
  PRODUCTION_READINESS.md
  benches/performance_benchmarks.rs
  deploy/production.yaml
  examples/basic_inference.rs
  scripts/build_wasm.sh
  scripts/quality_gates.sh
  src/data/cache.rs
  src/data/loader.rs
  src/data/transforms.rs
  src/error.rs
  src/health.rs
  src/memory.rs
  src/models.rs
  src/simd.rs
  src/simd/advanced.rs
  src/simd/arm_neon.rs
  src/simd/avx2.rs
  src/simd/mod.rs
  src/simd/wasm_simd.rs
  src/wasm.rs
  tests/integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

feat(production): complete autonomous SDLC implementation
  DEPLOYMENT.md
  src/simd/advanced.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(deployment): add comprehensive production deployment infrastructure
  deploy/docker/Dockerfile.production
  deploy/docker/docker-compose.production.yml
  deploy/kubernetes/production.yaml
  examples/complete_inference.rs
  examples/performance_benchmark.rs
  examples/wasm_demo.rs
  scripts/deploy_production.sh
  src/deployment.rs
  src/lib.rs
  src/monitoring.rs
  src/scaling.rs
  src/security.rs
  src/vision.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(recovery,threat_intelligence): add error recovery and threat intelligence modules
  examples/basic_inference.rs
  examples/performance_benchmark.rs
  src/lib.rs
  src/models.rs
  src/monitoring.rs
  src/recovery.rs
  src/threat_intelligence.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(gpu): add GPU acceleration support with CUDA, Metal, and OpenCL backends
  benches/performance_benchmarks.rs
  src/gpu/cuda.rs
  src/gpu/metal.rs
  src/gpu/mod.rs
  src/gpu/opencl.rs
  src/lib.rs
  src/threat_intelligence.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(error,models,inference): add enhanced error context, adaptive memory, and dynamic prompt limits
  examples/basic_inference.rs
  src/error.rs
  src/models.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(gpu,error,model,integration): add GPU error handling and simplify model inference
  Cargo.toml
  src/error.rs
  src/models.rs
  src/monitoring.rs
  src/text.rs
  src/vision.rs
  tests/integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

refactor(wasm_simd): replace WASM SIMD128 intrinsics with scalar fallbacks
  src/models.rs
  src/simd/mod.rs
  src/simd/wasm_simd.rs
  src/validation.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(integration): add simplified high-performance VLM inference service
  Cargo.toml
  DEPLOYMENT.md
  src/integration_simple.rs
  src/lib.rs
  src/models.rs
  src/simd/wasm_simd.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

feat(autonomous_sdlc): add comprehensive autonomous SDLC implementation with advanced modules
  Cargo.toml
  autonomous_sdlc_demo
  examples/autonomous_sdlc_demo.rs
  examples/research_experiment.rs
  src/benchmarks.rs
  src/lib.rs
  src/monitoring_advanced.rs
  src/reliability.rs
  src/research.rs
  src/scaling_advanced.rs
  src/security_advanced.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-audit

feat(research): add advanced research framework with enhanced analysis
  src/deployment.rs
  src/research.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(examples, models, error, reliability, research, simd): add Generation 1 basic VLM demos, minimal model, and error types
  examples/basic_vlm_demo.rs
  examples/generation1_demo.rs
  examples/standalone_generation1.rs
  src/benchmarks.rs
  src/error.rs
  src/lib.rs
  src/models.rs
  src/reliability.rs
  src/research.rs
  src/security_advanced.rs
  src/simd/advanced.rs
  src/simd/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(generation-demos): add multi-generation VLM demos from basic to production-ready
  examples/generation1_fixed_demo.rs
  generation1_demo
  generation1_standalone_demo.rs
  generation2_simple_demo
  generation2_simple_robust_demo.rs
  generation3_simple_demo
  generation3_simple_optimized_demo.rs
  global_first_demo.rs
  multi_region_deployment_demo.rs
  production_deployment_demo.rs
  quality_gates_demo
  quality_gates_demo.rs
  research_mode_demo.rs
  src/benchmarks.rs
  src/error.rs
  src/monitoring.rs
  src/reliability.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(examples): add comprehensive example suite demonstrating VLM generations and production readiness
  examples/generation1_working.rs
  examples/generation2_robust.rs
  examples/generation3_optimized.rs
  examples/production_deployment_ready.rs
  examples/production_ready.rs
  examples/quality_gates_comprehensive.rs
  src/benchmarks.rs
  src/error.rs
  src/health.rs
  src/lib.rs
  src/monitoring.rs
  src/monitoring_advanced.rs
  src/optimization.rs
  src/reliability.rs
  src/research.rs
  src/scaling_advanced.rs
  src/security_advanced.rs
  src/simple_vlm.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-audit: any of: Cargo\.(toml|lock)
